[Unit]
Description=bluetooth-server

[Service]
WorkingDirectory={{ working_directory }}
ExecStart=/usr/local/bin/node index.js

[Install]
WantedBy=multi-user.target
