[Unit]
Description=bluetooth-server
Requires=bluetooth.target
After=bluetooth.target

[Service]
WorkingDirectory={{ working_directory }}
ExecStart=/usr/local/bin/node index.js

[Install]
WantedBy=multi-user.target
